<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.devlear.app.beerhub">

    <!-- The App's permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Support Android 11 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
    </queries>

    <application
        android:name=".BeerHubApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/GreenTheme"
        android:hardwareAccelerated="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Google Map API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <!-- The default main activity in this app. -->
        <activity android:name=".ui.ActHub"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/app_name_short">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The activity to display information about city. -->
        <activity android:name=".ui.city.ActCityMap"
            android:taskAffinity=".ui.city.ActCityMap"
            android:screenOrientation="portrait"
            android:theme="@style/GreenTheme.NoActionBar">

            <!-- Link to specified place -->
            <intent-filter android:label="Test">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://beerhub.com/place/123” -->
                <data
                    android:scheme="https"
                    android:host="beerhub.app"
                    android:pathPrefix="/place" />
            </intent-filter>
        </activity>

        <!-- The special activity alias to start from selected city -->
        <activity-alias
            android:label="@string/city_prague_name"
            android:name="ActCityMapPrague"
            android:targetActivity=".ui.city.ActCityMap" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="com.devlear.app.beerhub.content.city_id"
                android:value="@integer/city_prague_id" />
        </activity-alias>

        <!-- The "About" activity -->
        <activity android:name=".ui.ActAbout"
            android:theme="@style/GreenTheme.NoActionBar"/>

        <!-- The widget to quick access to the selected city -->
        <receiver android:name=".app.CityWidgetProvider"
            android:label="@string/app_name" android:enabled="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/city_widget_info" />
        </receiver>

        <activity android:name=".mapengine.TestMapEngineActivity"
            android:theme="@style/GreenTheme.NoActionBar"/>

    </application>

</manifest>